@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');
* {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
 }
 
.row {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

h1 {
    font-size: 54px;
    font-weight: 900;
    margin-bottom: 36px;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 28px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 24px;
}

.section__link--color {
    color: #00b1c6;
    font-weight: 500;
}

ul {
    margin: 0;
}

li {
    text-indent: -0.3em; 
    margin: 0.33em 0.5em 0.5em 1.5em;
}

p {
    line-height: 1.5;
}

.container {
    padding: 25px 0;
}

section:nth-child(even) {
    background-color: #f3f3f38b;
}

/* NAV BAR */

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #242424;
}

.nav__link--list {
    display: flex;
    list-style: none;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 300;
}

.nav__link--anchor-primary {
    background-color: #00b1c6;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #008eb2;
}

.main__logo {
    width: 100%;
    max-width: 150px;
}

.hero {
    position: relative;
    width: 100vw;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/sz_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
 }
 .hero-content {
    position: relative;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }
 .hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    color: #ffffff;
 }
 .hero-subtitle {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
    color: #ffffff;
 }


/*
MAIN
*/

.about__er--what, .about__er--started, .about__er--easy, .about__er--principle, .about__er--whysz, .about__er--why {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 100%;
    max-width: 1000px;
    padding: 20px 0 0 20px;
}

.what__er--gif {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    align-items:center;
}

.why__er--links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15px;
}

.why__er--link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15px; 
}

/*
FOOTER
*/

footer {
    height: auto;
    padding: 16px;
    background-color: #242424;
}

.footer__links {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.footer__cr {
    color: #ffffff;
}